body {
  background-color: #3498db;
}

.form{
  background-color: #ecf0f1;
  padding: 30px;
  margin-top: 10px;
}

.title{
  color:#3498db;
}

.list{
  
  background-color:#dfe4ea;
  padding: 30px;
  margin-top: 10px;
}
